*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
  font-family: "Poppins", sans-serif;
}

body{
  background-color: #f2f2f2;
}
/* HEADER SECTION */

header{
  background-color: #00963C;
  width: 0 auto;
  height: 10vh;
  max-height: 10%;
  padding: 20px 50px;
  border-radius: 0 0 20px 20px;
}

.header-content{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-content i {
  color: #fff;
}

.logo-header{
  height: 40px;
  max-height: 40px;
}

.add{
  width: 30px;
  max-width: 30px;
}

/* CONTENT */

.content-container{
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1{
  font-size: 30px;
  font-weight: bold;
  color: #000000;
}

p {
  font-size: 18px;
  color: #181717;
}

/* PRODUCT CREATE SESSION */

.content-create-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  
}

.create-container-title{
  height: 8vh;
  background-color: #00963C;
  text-align: center;
  color: #FFFFFF;
  margin-top: 50px;
  width: 40%;
  border-radius: 8px 8px 0 0 ;
  padding: 20px;
}

.product-create-container{
  background-color: #FFFFFF;
  height: 40%;
  width: 40%;
  border-radius: 0 0 8px 8px;
  padding: 20px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

/* PRODUCT VISUALIZATION */
/* Franklin */
.product-container-title{
  margin:50px 0 8px 15px;
  width: 90%;
}

.productContainer{
  background-color: #FFFFFF;
  height: 90%;
  width: 1100px;
  border-radius: 8px;
  padding: 70px;
  padding-right: -30px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  align-items: center;
  gap: 30px;
}
.productContainer h1 {
  justify-content: center;
  text-align: center;
  font-size: 3rem;
}

.productContainer .meds {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  font-size: 3rem;
}

.medicine-grid {
  display: grid;
  justify-content: space-between;
  width: 250px;
  transform: translateX(20px);
}

.medicine-div {
  display: grid;
  width: 250px;
}

.card {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  align-items: center;
  justify-content: center;
  width: 250px;
  height: 500px;
  margin: 20px;
  border-radius: 15px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  background-color: #ffffff;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

.med-description {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #999;
  border-radius: 10px;
  padding: 10px;
  margin: 10px;
  background-color: #f9f9f9;
  font-size: 0.9rem;
  font: inherit;
  line-height: 1.4;
}

.card img {
  width: 120px;
  height: auto;
  border-radius: 8px;
  margin: 10px;
}

.card h3 {
  margin-top: 10px;
  font-size: 1.4rem;
  margin-bottom: 5px;
  color: #333;
}

.card h6 {
  font-size: 1rem;
  color: #666;
  margin-bottom: 10px;
}
.card .price,
.card .discount {
  font-size: 1rem;
  color: #52a071;
  font-weight: bold;
  margin-top: 10px;
}
.card .discount {
  color: #d953af;
}

.fa-tag,
.fa-money-bill-1 {
  margin-right: 5px;
}
.btn {
  margin: 30px;
  width: 200px;
  height: 50px;
  font-size: 1.2rem;
  background-color: #52a071;
  color: #fff;
  border-radius: 15px;
  padding: 3px;
  border: none;
  transition: transform 0.2s ease;
}

.btn:hover {
  transform: scale(1.1);
  cursor: pointer;
  background-color: #5ec989;
}

.buy-btn {
  margin: 5px;
  width: 180px;
  height: 35px;
  font-size: 1rem;
  background-color: #52a071;
  color: #fff;
  border-radius: 20px;
  padding: 3px;
  border: none;
  transition: transform 0.2s ease;
}

.buy-btn:hover {
  transform: scale(1.1);
  cursor: pointer;
  background-color: #5ec989;
}
