*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
  font-family: "Poppins", sans-serif;
}

body{
  background-color: #f2f2f2;
}
/* HEADER SECTION */

header{
  background-color: #00963C;
  width: 0 auto;
  height: 10vh;
  max-height: 10%;
  padding: 20px 50px;
  border-radius: 0 0 20px 20px;
}

.header-content{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-header{
  height: 40px;
  max-height: 40px;
}

.add{
  width: 30px;
  max-width: 30px;
}

/* CONTENT */

.content-container{
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1{
  font-size: 30px;
  font-weight: bold;
  color: #FFFFFF;
}

p {
  font-size: 18px;
  color: #181717;
}

/* PRODUCT CREATE SESSION */

.content-create-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  
  
}

.create-container-title{
  height: 8vh;
  background-color: #00963C;
  text-align: center;
  color: #FFFFFF;
  margin-top: 50px;
  width: 40%;
  border-radius: 8px 8px 0 0 ;
  padding: 20px;
}

.product-create-container{
  background-color: #FFFFFF;
  height: 40%;
  width: 40%;
  border-radius: 0 0 8px 8px;
  padding: 20px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;

}

.shadowForm{
  box-shadow: 10px 10px 40px rgba(0, 0, 0, 0.4);
  border-radius: 8px;
}

.formRegister{
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border-radius: 8px;
  gap: 10px;
  font-size: 18px;
  padding: 0px 30px 30px 30px;
}

.formInput{
  padding: 15px;
  font-size: 14px;
  border: 1px solid #ccc;
  margin-bottom: 20px;
  margin-top: 5px;
  border-radius: 8px;
  transition: all linear 160ms;
  outline: none;
}

.input-div{
  display: flex;
  flex-direction: column;
  
  margin-top: 15px;
}

.formDsp{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.formh2{
  display: flex;
  justify-content: center;
}

.btn {
  line-height: 50px;
  height: 50px;
  text-align: center;
  width: 250px;
  cursor: pointer;
  background-color: #00963C;
  border-color: #FFF;
  border-radius: 8px;
}

.formBttn {
  color: #FFF;
  transition: all 0.5s;
  position: relative;
}

.formBttn::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: rgba(255,255,255,0.1);
  transition: all 0.3s;
}
.formBttn:hover::before {
  opacity: 0 ;
  transform: scale(0.5,0.5);
}
.formBttn::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0;
  transition: all 0.3s;
  border: 1px solid rgba(255,255,255,0.5);
  transform: scale(1.2,1.2);
}
.formBttn:hover::after {
  opacity: 1;
  transform: scale(1,1);
}
/*BUTTON


/* PRODUCT VISUALIZATION */

.product-container-title{
  margin:50px 0 8px 15px;
  width: 90%;
}

.product-container{
  background-color: #FFFFFF;
  height: 90%;
  width: 90%;
  border-radius: 8px;
  padding: 20px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  display: flex;
  justify-content: center;
  align-items: center;
}